header{
    background-color: #ECFDFF;
    align-items: center;
    justify-content: center;
.container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ECFDFF;
    #header-left{
        padding: 16px 0px
    }
     #header-middle{
        ul{
            display: flex;
            gap: 2rem;
        }
    li{
        list-style-type: none;
        a{
            text-decoration: none;
        }
    }
    }
    #header-right{
        font-size: 1.5rem;
        padding: 16px 0px;
        div{
            display: flex;
            gap: 1rem;
        }
    }
}
}